# --- KICAU BACKEND ENVIRONMENT VARIABLES ---
# Ganti URL ini dengan URL database Supabase Anda saat di Vercel/Production
DATABASE_URL=postgresql://kicau_user:password_anda@db.xxxxxxxx.supabase.co:5432/postgres

# SECRET_KEY untuk enkripsi token JWT (Sebaiknya di-generate random, jangan disebar)
SECRET_KEY=94b7f5261ab2f2cb5d2c0b6...ganti_dengan_key_yang_aman...

# Jika butuh setup CORS (opsional)
ALLOWED_ORIGINS="*"